<div class="welcome-page">
    <h1>
        <img src="~/icon.png">
        SPID.AspNetCore.IdentityServer Sample
    </h1>

    <ul>
        <li>
            <a href="~/.well-known/openid-configuration">IdentityServer discovery document</a>
        </li>
        <li>
            Here are links to the
            <a href="https://github.com/italia/spid-aspnetcore">source code repository</a>,
            and <a href="https://github.com/italia/spid-aspnetcore/samples">ready to use samples</a>.
        </li>
    </ul>
</div>
